.friend-list {
  list-style-type: none;
  padding: 0;
  margin: 20px auto 0;
  max-width: 300px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.name {
  font-weight: bold;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}
